.header-container{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: rgba(105, 105, 105, 1);
}
.header-container .titulo {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.2rem;
  position: relative;
}
.header-container .redes-sociais {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	list-style-type: none;
}
.header-container .redes-sociais.redes-sociais .social-item .fab,
.header-container .redes-sociais.redes-sociais .social-item .fas {
  font-size: 1.2rem;
  margin: 0 10px;
  transition: transform 350ms ease;
}

.redes-sociais .social-item .fab:hover,
.redes-sociais .social-item .fas:hover {
  transform: translateY(5px);
}