.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.titulo {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.descricao {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.projects-list {
  display: flex;
	flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.projects-item {
  background-color: #3a3a3a;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: calc(33% - 20px);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.projects-item p {
  font-size: 1em;
  margin-bottom: 20px;
}

.links-group {
  display: flex;
  justify-content: center;
}

.links-group a {
  margin: 0 10px;
  text-decoration: none;
}

.links-group button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.links-group button i {
  margin-left: 10px;
}